:root {
  --primary-color: rgb(97, 66, 66);
  --secondary-color: #e1ece6;
  --color-white: #f7f3ee;
  --color-dark: #111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: var(--primary-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 2.2rem;
  font-size: 1.4rem;
}

html,
body {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-white);
  letter-spacing: -2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding-block: 4rem;
}

.text-content {
  color: var(--color-dark);
  max-width: 60%;
  margin: 2rem auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;

  color: var(--color-white);
}

.nav-links a:hover {
  color: black;
  background-color: var(--color-white);
}

.map-section {
  margin-top: 14rem;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 6rem 3rem;
  border-radius: 4px;
}

/* Responsiv behållare för kartan */
.container iframe {
  min-width: 900px;

  border-radius: 4px;
  aspect-ratio: 16 / 9;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 0;
  background-color: var(--primary-color);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
