html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 10px;
  background-color: #f4f4f4;
  header {
    text-align: center;
  }
}

header {
  background-color: lightblue;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo h1 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-links a:hover {
  color: black;
  background-color: #f9fafb;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  padding-bottom: 60px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column; /* Lägger rubrik och karta på höjden */
  align-items: center; /* Centrerar allt horisontellt */
  text-align: center;
}

/* Responsiv behållare för kartan */
.map-container {
  position: relative;
  width: 100%;
  /* Detta skapar ett 16:9 format för kartan */
  aspect-ratio: 16 / 9;
  margin-top: 20px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
